@model TA.Classified.BLL.ViewModels.UserLoginViewModel
@{
  ViewBag.Title = "Login";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="logincontainer">
        Log In :
        @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "form-horizontal form-signin form-margin" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label col-sm-4" for="email">Email* </label>
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.EmailAddress, new { @class = "form-control", @placeholder = "Enter Email id" })
                    @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="email">Password* </label>
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter password" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-10">
                    <div class="checkbox">
                        @*<label>
                            <input type="checkbox"> Remember me
                        </label>*@
                        @Html.CheckBoxFor(m =>m.rememberme)
                       <label>RememberMe</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div><h5 style="color:red">@ViewBag.LoginMessage</h5></div>
                <div class="col-sm-offset-4 col-sm-12">
                    <a>
                        <button id="login-btn" type="submit" class="btn btn-default btn-success" name="command" value="login">Log in</button>
                    </a>
                    <a href="/Login/Register">
                        <button id="register-btn" class="btn btn-default btn-warning" name="command" value="register">Register Here!</button>
                    </a>
                </div>
            </div>
        }
        <form class="form-horizontal form-signin socialForm-margin" role="form" name="socialLogin">
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10">
                    <a href="#"><button class="google"><span><img src="~/Content/Images/google.png" width="40px" height="40px"> Continue with Google+</span></button></a> &nbsp &nbsp
                    <a href="#"><button class="facebook"><span><img src="~/Content/Images/fb.png" width="40px" height="40px"> Continue with Facebook</span></button></a>
                </div>
            </div>
        </form>
    </div>
</div>
